{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

  <div class="row center-horizontally-vertically">
    <h4>Login</h4>
    <form method="post">
      {% csrf_token %}

      <div class="row">
        <div class="col-12">
            {% include 'form.html' %}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
        </div>
      </div>

    </form>
  </div>

{% endblock %}