{% extends 'base_navbar.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h3>Dashboard</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Wallet</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a href="{% url 'wallet_wizard_shopping' %}" class="btn btn-dark btn-lg" data-position="bottom" data-delay="50" data-tooltip="New shopping"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            <a href="{% url 'wallet_wizard_refuelling' %}" class="btn btn-dark btn-lg" data-position="bottom" data-delay="50" data-tooltip="New refuelling"><i class="fa fa-car" aria-hidden="true"></i></a>
            <a href="{% url 'wallet_wizard_incoming' %}" class="btn btn-dark btn-lg" data-position="bottom" data-delay="50" data-tooltip="New incoming money"><i class="fas fa-dollar-sign" aria-hidden="true"></i></a>
            <a href="{% url 'wallet_wizard_account_transferring' %}" class="btn btn-dark btn-lg" data-position="bottom" data-delay="50" data-tooltip="New transfer between accounts"><i class="fa fa-exchange" aria-hidden="true"></i></a>
            <a href="{% url 'wallet_wizard_crediting' %}" class="btn btn-dark btn-lg" data-position="bottom" data-delay="50" data-tooltip="New crediting"><i class="fa fa-university" aria-hidden="true"></i></a>
            <a href="{% url 'wallet_wizard_depositing' %}" class="btn btn-dark btn-lg" data-position="bottom" data-delay="50" data-tooltip="New money depositing"><i class="fa fa-credit-card" aria-hidden="true"></i></a>
            <a href="{% url 'wallet_wizard_deposit_transferring' %}" class="btn btn-dark btn-lg" data-position="bottom" data-delay="50" data-tooltip="New transfer between account and deposit"><i class="fa fa-ban" aria-hidden="true"></i></a>
            <a href="{% url 'wallet_wizard_currency_exchange' %}" class="btn btn-dark btn-lg" data-position="bottom" data-delay="50" data-tooltip="New currency exchange"><i class="fab fa-stack-exchange" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Reminders</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a href="{% url 'reminder_add' %}" class="btn btn-dark btn-lg" data-position="bottom" data-delay="50" data-tooltip="New reminder"><i class="fa fa-square" aria-hidden="true"></i></a>
            <a href="{% url 'reminder_group_add' %}" class="btn btn-dark btn-lg" data-position="bottom" data-delay="50" data-tooltip="New group of reminders"><i class="fa fa-cube" aria-hidden="true"></i></a>
        </div>
    </div>

{% endblock %}