{% extends 'base_navbar.html' %}

{% block title %}Log{% endblock %}

{% block content %}

     <div class="row">
        <div class="col-12">
            <h5>{{ title }}</h5>
            <form method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-6">
                        {% include 'form.html' %}
                    </div>
                </div>

                <div class="form-row mt-4">
                    <div class="col-6">
                        <button class="btn btn-warning" type="submit">
                            {{ button }}
                        </button>
                        {% if id is not None %}
                            <a class="btn btn-secondary" href="{% url 'log_detail' id=id %}">
                                Cancel
                            </a>
                        {% else %}
                            <a class="btn btn-secondary" href="{% url 'log' %}">
                                Cancel
                            </a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
     </div>

{% endblock %}