{% extends 'base_navbar.html' %}

{% block title %}Log's details{% endblock %}

{% block content %}

    {% load filter %}

     <div class="row">
        <div class="col-12">
            <h5>
                Log's details
            </h5>
            <table class="highlight table table-striped table-hover">
                <tr>
                    <td>
                        Type:
                    </td>
                    <td>
                        {{ log.type }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Info:
                    </td>
                    <td>
                        {{ log.info }}
                    </td>
                </tr>
                <tr>
                    <td>
                        JSON:
                    </td>
                    <td>
                        <pre>{{ log.json|linebreaks }}</pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        Created&nbsp;by:
                    </td>
                    <td>
                        {{ log.user }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Created&nbsp;on:
                    </td>
                    <td>
                        {{ log.modified | date:"Y-m-d H:i" }}
                    </td>
                </tr>
            </table>

            <a href="{% url 'log' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Go back"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            <a href="{% url 'log_edit' id=log.id %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit log"><i class="fas fa-pencil-alt"></i></a>
        </div>
     </div>

{% endblock %}