{% extends 'base_navbar.html' %}

{% block title %}Wallet{% endblock %}

{% load mathfilters %}

{% block content %}

     <div class="row valign-wrapper">
         <div class="col-6">
            <h5>Wallet rent</h5>
         </div>
         <div class="col-6">
        </div>
     </div>

    <div class="row">
        <div class="col-12">
            <table class="highlight responsive-table">
                <thead class="grey-text">
                <tr>
                    <th>Total value</th>
                    <th>Total tax</th>
                    <th>Paid tax</th>
                    <th>Month</th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody>
                {% for wallet_rent in wallet_rents_sum_grouped_by_name_year_month %}
                <tr>
                    <td>
                        {{ wallet_rent.total_value }} {{ wallet_rent.currency }}
                    </td>
                    <td>
                        {{ wallet_rent.total_tax }} {{ wallet_rent.currency }}
                    </td>
                    <td>
                        {{ wallet_rent.paid_tax }} {{ wallet_rent.currency }}
                    </td>
                    <td>
                        {{ wallet_rent.month }}
                    </td>
                    <td>
                        {{ wallet_rent.year }}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>

                    </td>
                    <td class="{% if global_total_tax == global_paid_tax %}green-text{% else %}red-text{% endif %}">
                        {{ global_total_tax }} {{ global_currency }}
                    </td>
                    <td class="{% if global_total_tax == global_paid_tax %}green-text{% else %}red-text{% endif %}">
                        {{ global_paid_tax }} {{ global_currency }}
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}