{% extends 'base_navbar.html' %}

{% block title %}Wallet{% endblock %}

{% load mathfilters %}

{% block content %}

<div class="row valign-wrapper">
    <div class="col-6">
        <h5>Wallet - {{ year }}/{{ month }} ({{ wallet_count_elements }} elements)</h5>
    </div>
    <div class="col-6">
        <a href="{% url 'wallet_year_month' year=year_next month=month_next %}" class="tooltipped margin-left-right right" data-position="bottom" data-delay="50" data-tooltip="Next month">{{ year_next }}/{{ month_next }} <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        <a href="{% url 'wallet_year_month' year=year_prev month=month_prev %}" class="tooltipped margin-left-right right" data-position="bottom" data-delay="50" data-tooltip="Previous month"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ year_prev }}/{{ month_prev }}</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a href="#detailed_analysis_box" class="modal-trigger btn-floating waves-effect waves-light tooltipped grey margin-left-right margin-top-bottom" data-position="bottom" data-delay="50" data-tooltip="Detailed analysis"><i class="material-icons">list</i></a>
        <a href="#wallet_generator_box" class="modal-trigger btn-floating waves-effect waves-light tooltipped grey margin-left-right margin-top-bottom" data-position="bottom" data-delay="50" data-tooltip="Wallet generators"><i class="material-icons">create</i></a>

        <a href="{% url 'wallet_wizard_currency_exchange' %}" class="modal-trigger btn-floating waves-effect waves-light tooltipped pulse right margin-left-right margin-top-bottom" data-position="bottom" data-delay="50" data-tooltip="New currency exchange"><i class="fa fa-stack-exchange" aria-hidden="true"></i></a>
        <a href="{% url 'wallet_wizard_deposit_transferring' %}" class="modal-trigger btn-floating waves-effect waves-light tooltipped pulse right margin-left-right margin-top-bottom" data-position="bottom" data-delay="50" data-tooltip="New transfer between account and deposit"><i class="fa fa-ban" aria-hidden="true"></i></a>
        <a href="{% url 'wallet_wizard_depositing' %}" class="modal-trigger btn-floating waves-effect waves-light tooltipped pulse right margin-left-right margin-top-bottom" data-position="bottom" data-delay="50" data-tooltip="New money depositing"><i class="fa fa-credit-card" aria-hidden="true"></i></a>
        <a href="{% url 'wallet_wizard_account_transferring' %}" class="modal-trigger btn-floating waves-effect waves-light tooltipped pulse right margin-left-right margin-top-bottom" data-position="bottom" data-delay="50" data-tooltip="New transfer between accounts"><i class="fa fa-exchange" aria-hidden="true"></i></a>
        <a href="{% url 'wallet_wizard_crediting' %}" class="modal-trigger btn-floating waves-effect waves-light tooltipped pulse right margin-left-right margin-top-bottom" data-position="bottom" data-delay="50" data-tooltip="New crediting"><i class="fa fa-university" aria-hidden="true"></i></a>
        <a href="{% url 'wallet_wizard_incoming' %}" class="modal-trigger btn-floating waves-effect waves-light tooltipped pulse right margin-left-right margin-top-bottom" data-position="bottom" data-delay="50" data-tooltip="New incoming money"><i class="fa fa-usd" aria-hidden="true"></i></a>
        <a href="{% url 'wallet_wizard_refuelling' %}" class="modal-trigger btn-floating waves-effect waves-light tooltipped pulse right margin-left-right margin-top-bottom" data-position="bottom" data-delay="50" data-tooltip="New refuelling"><i class="fa fa-car" aria-hidden="true"></i></a>
        <a href="{% url 'wallet_wizard_shopping' %}" class="modal-trigger btn-floating waves-effect waves-light tooltipped pulse right margin-left-right margin-top-bottom" data-position="bottom" data-delay="50" data-tooltip="New shopping"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <canvas id="chart_summary_bar_log"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <canvas id="chart_summary_doughnut_linear"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <canvas id="chart_expenses_doughnut_linear"></canvas>
            </div>
        </div>
    </div>
</div>

<div id="detailed_analysis_box" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col-8">
                <h4>Detailed analysis</h4>
            </div>
            <div class="col-4">
                <a href="#!" class="modal-action modal-close waves-effect waves-light right"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table>
                    <tr>
                        <td>
                            <a href="{% url 'wallet_analytics_year_month' %}">Calculate finance state</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'wallet_car_year_month' %}">Calculate fuel consumption</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'wallet_rent_year_month' %}">Calculate taxes for rent</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="wallet_generator_box" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col-8">
                <h4>Wallet generators</h4>
            </div>
            <div class="col-4">
                <a href="#!" class="modal-action modal-close waves-effect waves-light right"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table>
                    <tr>
                        <td>
                            <a href="{% url 'wallet_generator_year_month' year=year month=month %}">New wallet for this month (based on previous month)</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'wallet_clear_year_month' year=year month=month %}">Clear this month (remove all elements)</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>Accounts ({{ wallet_accounts.count }} elements)</h5>
        <table class="highlight table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Currency</th>
                <th>Type</th>
                <th>Month</th>
                <th>Year</th>
                <th>Date</th>
                <th><i>Edit</i></th>
                <th><i>Delete</i></th>
            </tr>
            </thead>
            <tbody>
            {% for wallet_account in wallet_accounts %}
            <tr>
                <td>
                    {{ wallet_account }}
                </td>
                <td>
                    {{ wallet_account.value }}
                </td>
                 <td>
                    {{ wallet_account.currency }}
                </td>
                <td>
                    {{ wallet_account.type }}
                </td>
                <td>
                    {{ wallet_account.month }}
                </td>
                <td>
                    {{ wallet_account.year }}
                </td>
                <td class="no-line-break">
                    {{ wallet_account.modified | date:"Y-m-d H:i" }}
                </td>
                <td>
                    <a href="{% url 'wallet_account_edit' id=wallet_account.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit wallet account"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="{% url 'wallet_account_remove' id=wallet_account.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove wallet account"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span class="margin-left-right">
            <i class="fa fa-credit-card" aria-hidden="true"></i> {{ wallet_accounts_sum }} zł
        </span>
        <a href="{% url 'wallet_account_add' %}" class="btn-floating waves-effect waves-light tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Add wallet account"><i class="material-icons">add</i></a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>Deposits ({{ wallet_deposits.count }} elements)</h5>
        <table class="highlight table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Currency</th>
                <th>Rate</th>
                <th>Month</th>
                <th>Year</th>
                <th>Date</th>
                <th><i>Edit</i></th>
                <th><i>Delete</i></th>
            </tr>
            </thead>
            <tbody>
            {% for wallet_deposit in wallet_deposits %}
            <tr>
                <td>
                    {{ wallet_deposit }}
                </td>
                <td>
                    {{ wallet_deposit.value }}
                </td>
                <td>
                    {{ wallet_deposit.currency }}
                </td>
                <td>
                    {{ wallet_deposit.rate }} %

                    <a class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ wallet_deposit.value|mul:wallet_deposit.rate|mul:30|div:36500|floatformat:2 }} zł">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    {{ wallet_deposit.month }}
                </td>
                <td>
                    {{ wallet_deposit.year }}
                </td>
                <td class="no-line-break">
                    {{ wallet_deposit.modified | date:"Y-m-d H:i" }}
                </td>
                <td>
                    <a href="{% url 'wallet_deposit_edit' id=wallet_deposit.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit wallet deposit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="{% url 'wallet_deposit_remove' id=wallet_deposit.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove wallet deposit"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span class="margin-left-right">
            <i class="fa fa-credit-card" aria-hidden="true"></i> {{ wallet_deposits_sum }} zł
        </span>
        <a href="{% url 'wallet_deposit_add' %}" class="btn-floating waves-effect waves-light tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Add wallet deposit"><i class="material-icons">add</i></a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>Credits ({{ wallet_credits.count }} elements)</h5>
        <table class="highlight table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Currency</th>
                <th>Rate</th>
                <th>Balance</th>
                <th>Interest</th>
                <th>Insurance</th>
                <th>Capital</th>
                <th>Month</th>
                <th>Year</th>
                <th>Date</th>
                <th><i>Edit</i></th>
                <th><i>Delete</i></th>
            </tr>
            </thead>
            <tbody>
            {% for wallet_credit in wallet_credits %}
            <tr>
                <td>
                    {{ wallet_credit }}
                </td>
                <td>
                    {{ wallet_credit.value }}
                </td>
                <td>
                    {{ wallet_credit.currency }}

                    <a class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ wallet_credit.balance|mul:wallet_credit.rate|mul:30|div:36500|floatformat:2 }} zł">
                        <i class="fa fa-balance-scale aria-hidden="true"></i>
                    </a>
                    <a class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ wallet_credit.balance|mul:0.00035|floatformat:2 }} zł">
                        <i class="fa fa-shield" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    {{ wallet_credit.rate }}&nbsp;%
                </td>
                <td>
                    {{ wallet_credit.balance }}
                </td>
                <td>
                    {{ wallet_credit.interest }}
                </td>
                <td>
                    {{ wallet_credit.insurance }}
                </td>
                <td>
                    {{ wallet_credit.capital }}
                </td>
                <td>
                    {{ wallet_credit.month }}
                </td>
                <td>
                    {{ wallet_credit.year }}
                </td>
                <td class="no-line-break">
                    {{ wallet_credit.modified | date:"Y-m-d H:i" }}
                </td>
                <td>
                    <a href="{% url 'wallet_credit_edit' id=wallet_credit.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit wallet credit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="{% url 'wallet_credit_remove' id=wallet_credit.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove wallet credit"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span class="margin-left-right">
            <i class="fa fa-credit-card" aria-hidden="true"></i> {{ wallet_credits_sum }} zł
        </span>
        <a href="{% url 'wallet_credit_add' %}" class="btn-floating waves-effect waves-light tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Add wallet credit"><i class="material-icons">add</i></a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>Incomes ({{ wallet_incomes.count }} elements)</h5>
        <table class="highlight table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Currency</th>
                <th>Type</th>
                <th>Month</th>
                <th>Year</th>
                <th>Date</th>
                <th><i>Edit</i></th>
                <th><i>Delete</i></th>
            </tr>
            </thead>
            <tbody>
            {% for wallet_income in wallet_incomes %}
            <tr>
                <td>
                    {{ wallet_income }}
                </td>
                <td>
                    {{ wallet_income.value }}
                    {% if "Wynajem" in wallet_income.name %}
                        <a class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ wallet_income.value|mul:0.085|floatformat:2 }} zł">
                            <i class="fa fa-percent" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </td>
                <td>
                    {{ wallet_income.currency }}
                </td>
                <td>
                    {{ wallet_income.type }}
                </td>
                <td>
                    {{ wallet_income.month }}
                </td>
                <td>
                    {{ wallet_income.year }}
                </td>
                <td class="no-line-break">
                    {{ wallet_income.modified | date:"Y-m-d H:i" }}
                </td>
                <td>
                    <a href="{% url 'wallet_income_edit' id=wallet_income.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit wallet income"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="{% url 'wallet_income_remove' id=wallet_income.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove wallet income"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span class="margin-left-right">
            <i class="fa fa-credit-card" aria-hidden="true"></i> {{ wallet_incomes_sum }} zł
        </span>
        <a href="{% url 'wallet_income_add' %}" class="btn-floating waves-effect waves-light tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Add wallet income"><i class="material-icons">add</i></a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>Expenses ({{ wallet_expenses.count }} elements)</h5>
        <table class="highlight table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Currency</th>
                <th>Type</th>
                <th>Month</th>
                <th>Year</th>
                <th>Date</th>
                <th><i>Edit</i></th>
                <th><i>Delete</i></th>
            </tr>
            </thead>
            <tbody>
            <input type="hidden" id="chart_wallet_expenses_elements_number" value="{{ wallet_expenses.count }}" />
            <input type="hidden" id="chart_wallet_expenses_elements_json" value="{{ wallet_expenses_json }}" />
            {% for wallet_expense in wallet_expenses %}
            <tr>
                <td>
                    {{ wallet_expense }}
                </td>
                <td>
                    {{ wallet_expense.value }}
                </td>
                <td>
                    {{ wallet_expense.currency }}
                </td>
                <td>
                    {{ wallet_expense.type }}
                </td>
                <td>
                    {{ wallet_expense.month }}
                </td>
                <td>
                    {{ wallet_expense.year }}
                </td>
                <td class="no-line-break">
                    {{ wallet_expense.modified | date:"Y-m-d H:i" }}
                </td>
                <td>
                    <a href="{% url 'wallet_expense_edit' id=wallet_expense.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit wallet expense"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="{% url 'wallet_expense_remove' id=wallet_expense.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove wallet expense"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span class="margin-left-right">
            <i class="fa fa-credit-card" aria-hidden="true"></i> {{ wallet_expenses_sum }} zł
        </span>
        <a href="{% url 'wallet_expense_add' %}" class="btn-floating waves-effect waves-light tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Add wallet expense"><i class="material-icons">add</i></a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>House counters ({{ wallet_houses.count }} elements)</h5>
        <table class="highlight table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Month</th>
                <th>Year</th>
                <th>Date</th>
                <th><i>Edit</i></th>
                <th><i>Delete</i></th>
            </tr>
            </thead>
            <tbody>
            {% for wallet_house in wallet_houses %}
            <tr>
                <td>
                    {{ wallet_house }}
                </td>
                <td>
                    {{ wallet_house.value }}
                </td>
                <td>
                    {{ wallet_house.month }}
                </td>
                <td>
                    {{ wallet_house.year }}
                </td>
                <td class="no-line-break">
                    {{ wallet_house.modified | date:"Y-m-d H:i" }}
                </td>
                <td>
                    <a href="{% url 'wallet_house_edit' id=wallet_house.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit wallet house"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="{% url 'wallet_house_remove' id=wallet_house.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove wallet house"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="{% url 'wallet_house_add' %}" class="btn-floating waves-effect waves-light tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Add wallet house"><i class="material-icons">add</i></a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>Cars / motors ({{ wallet_cars.count }} elements)</h5>
        <table class="highlight table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Exploitation</th>
                <th>Payment</th>
                <th>Currency</th>
                <th>Refuelling</th>
                <th>Month</th>
                <th>Year</th>
                <th>Date</th>
                <th><i>Edit</i></th>
                <th><i>Delete</i></th>
            </tr>
            </thead>
            <tbody>
            {% for wallet_car in wallet_cars %}
            <tr>
                <td>
                    {{ wallet_car }}
                </td>
                <td>
                    {{ wallet_car.exploitation }} km
                </td>
                <td>
                    {{ wallet_car.payment }}
                </td>
                <td>
                    {{ wallet_car.currency }}
                </td>
                <td>
                    {{ wallet_car.refuelling }} l
                </td>
                <td>
                    {{ wallet_car.month }}
                </td>
                <td>
                    {{ wallet_car.year }}
                </td>
                <td class="no-line-break">
                    {{ wallet_car.modified | date:"Y-m-d H:i" }}
                </td>
                <td>
                    <a href="{% url 'wallet_car_edit' id=wallet_car.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit wallet car"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="{% url 'wallet_car_remove' id=wallet_car.id %}" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove wallet car"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span class="margin-left-right">
            <i class="fa fa-credit-card" aria-hidden="true"></i> {{ wallet_cars_sum }} zł
        </span>
        <span class="margin-left-right">
            <i class="fa fa-plug" aria-hidden="true"></i> {{ wallet_cars_refuelling }} l
        </span>
        <span>
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ wallet_cars_exploitation_distance }} km
        </span>
        <span class="margin-left-right">
            <i class="fa fa-percent" aria-hidden="true"></i> {{ wallet_cars_refuelling_100km }} l / 100 km, {{ wallet_cars_refuelling_avg_price }} zł / l
        </span>
        <a href="{% url 'wallet_car_add' %}" class="btn-floating waves-effect waves-light tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Add wallet car"><i class="material-icons">add</i></a>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% load static %}

<input type="hidden" id="chart_wallet_accounts_sum" value="{{ wallet_accounts_sum }}" />
<input type="hidden" id="chart_wallet_deposits_sum" value="{{ wallet_deposits_sum }}" />
<input type="hidden" id="chart_wallet_credits_sum" value="{{ wallet_credits_sum }}" />
<input type="hidden" id="chart_wallet_incomes_sum" value="{{ wallet_incomes_sum }}" />
<input type="hidden" id="chart_wallet_expenses_sum" value="{{ wallet_expenses_sum }}" />
<input type="hidden" id="chart_wallet_cars_sum" value="{{ wallet_cars_sum }}" />
<script type="text/javascript" src="{% static 'xnote/js/wallet.js' %}"></script>

{% endblock %}