{% load filter %}

{% for field in form %}
    <div class="input-field col-12">
        {{ field.errors }}
        {% if field|input_type == 'Textarea' %}
            {{ field|add_class:'materialize-textarea' }}
        {% elif field|input_type == 'Select' %}
            {{ field }}
        {% else %}
            {{ field }}
        {% endif %}
        {{ field.label_tag }}
    </div>
{% endfor %}

{% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
          <li class="red-text">{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}